html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: url("./Midias/backgrounds/folhas.png") fixed;
}

header {	
	background: url("./Midias/backgrounds/paisagem.png") no-repeat;
	padding: 0px 0px 0px 0px;
	height: 120%;
		img-size {
			height: 120%;
		}
		height: 10em;
	background-position: top center;
	/*background-attachment: fixed;*/
		h2 { 
		font-family: "Pristina"; 
		font-size: 55px;
		color: green;
		text-shadow: 1px 1px 3px green;
		text-align: center;
		position: relative;
		margin-top: 0rem;
		margin-bottom: 0rem
		}
}
header a {
	text-decoration: none;
	text-align: center;
	color: darkgreen;
	font-size: 15px;
	font-family: "segoe print";
	padding: 2px 20px 2px 20px;
	border: 2px groove darkgreen;
	border-radius: 6px;
	background: white;
	
}
a:hover {
	background: green;
	color: white;
}
nav {
	color: transparent;
}	
section {
	background: linear-gradient(darkgreen,lightgreen);
	width: 75%;
	height: auto;
	margin-left: 12.5%;
}
nav {
	text-align: center;
	background-color: transparent;
}
h2 { 
	font-family: "Pristina"; 
	font-size: 80px;
	color: green;
	text-shadow: 1px 1px 3px black;
	text-align: center;
	margin-top: 5rem;
	margin-bottom: -0.75rem;
	padding: 3rem 0rem 0.1rem 0rem;
}
h3 { 
	font-family: "segoe print"; 
	font-size: 20px;
	text-align: center;
}
h4 { 
	font-family: "segoe print"; 
	font-size: 15px;
	text-align: center;
}
figure {
	text-align: center;
}
ul {
	font-family: "segoe print"; 
	font-size: 15px;
	margin: 0rem 5rem 1rem;
	/*color: green;*/
}
li {
	font-family: "segoe print"; 
	font-size: 15px;
	margin: 0rem 5rem 1rem;
	/*color: green;*/
}
p {
	font-family: "segoe print"; 
	font-size: 15px;
	margin: 0rem 5rem 1rem;
	/*color: green;*/
}
table {
	font-family: "segoe print"; 
	font-size: 15px;
	margin: 0rem 5rem 1rem;
	background-color: white;
	/*color: green;*/
}
table th {
	background-color: green;
}
article img {
	padding: 0rem 0rem 2rem 0rem;
}
div {
  background: gray url("../img/bg.png") no-repeat fixed top center;
}
h5 {
	text-align: center;
	color: black;
	border: 1px solid green;
	background-color: green;	
}
video {
	text-align: center;
}
article {
	text-align: center;
}
table {
	text-align: center;
}
form {
	background-color: transparent;
	padding: 0rem 0rem 0rem 0rem;
	margin: 0rem 5rem 1rem;
}
form div{
	background-color: transparent;
}
footer {
	
	background-color: green;
	text-align: center;
	padding: 0rem 0rem 0rem 0rem;
	color: white;
	opacity: 1;
	position: relative;
	margin-bottom: 100rem
}

footer a {
	color: white;
	text-decoration: none;
}

footer a:hover {
	color: #008cff;
}